#navbar {
      display: flex;
      padding-left: 4%;
      padding-right: 4%;
      border: solid black 1px;
      justify-content: space-between;
    }

    #options {
      display: flex;
      gap: 20px;
    }
#data{

    display: grid;
    grid-template-columns: repeat(4,25%);
    justify-content: center;
    padding: 5%;
  }

  









